html,
body {
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: $dark-900;
  background-color: $white;
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.state-navigation {
  border-radius: 3px;
  transition: color 0.5s, opacity 0.5s, box-shadow 0.5s, background-color 0.5s;
  outline: transparent;

  &:focus {
    box-shadow: 0 0 0 3px $green-100;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    color: $green-200;
  }
}

.btn {
  padding: 12px 24px;
  background-color: $green-900;
  border-radius: 6px;
  outline: transparent;
  transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;

  &:focus {
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    background-color: $green-1000;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}