html,
body {
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: $dark-900;
  background-color: $white;
}

// .main {
//   flex: 1 0 auto;
// }

// .footer {
//   flex: 0 0 auto;
// }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.state-navigation {
  border-radius: 3px;
  transition: color 0.5s, opacity 0.5s, box-shadow 0.5s;
  outline: transparent;

  &:focus {
    box-shadow: 0px 0px 0px 3px #EFF6E7;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    color: $green-200;
  }
}

.state-navigation--logo {
  &:hover {
    opacity: 0.4;
  }
  &:active {
    transition: opacity 0.2s;
    opacity: 0.7;
  }
}