@mixin line-clamp($lines: 1) {
    @if $lines <=1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @else {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
    }
}

@mixin pseudo($pos: absolute, $content: '') {
    content: $content;
    position: $pos;
}

%checkbox-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

$xl: 1600px;
$lg: 1200px;
$sm: 768px;
$xs: 480px;

@mixin max-w($width) {
    @media (max-width: $width) {
        @content;
    }
}