@import 'fonts';
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  color: $white;
  letter-spacing: 0.03em;

  &__top {
    padding: 15px 0;
    background-color: $dark-800;

    @include max-w($sm) {
      padding: 3px 0;
    }
  }

  &__top-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__connection {
    @include max-w($sm) {
      order: 1;
    }
  }

  &__bottom {
    padding: 25px 0;
    font-weight: 600;
    background-color: $green-900;

    @include max-w($sm) {
      padding: 5px 0;
    }
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    margin-right: 20px;
  }

  & .header__dropdown {
    @include max-w($lg) {
      position: absolute;
      left: 220px;
    }
  }
}

.delivery {
  position: relative;
  padding: 10px 35px 10px 45px;

  @include max-w($lg) {
    font-size: 0;
    padding: 26px 5px 18px 22px;
  }

  &:not(:last-child) {
    @include max-w($lg) {
      margin-right: 15px;
    }
  }

  &::before {
    @include pseudo;
    top: 7px;
    left: 0;
    width: 32px;
    height: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(203deg) brightness(102%) contrast(105%);
    transition: filter 0.5s;

    @include max-w($lg) {
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &:active::before {
    filter: invert(91%) sepia(17%) saturate(297%) hue-rotate(48deg) brightness(106%) contrast(86%);
  }

  &--time::before {
    background-image: url('../images/sprite.svg#icon-delivery-time');
    background-size: cover;
  }

  &--phone::before {
    background-image: url('../images/sprite.svg#icon-phone');
  }
}

.menu {
  display: flex;

  &__btn {
    position: relative;
    display: none;
    width: 44px;
    height: 44px;
    border-radius: 3px;

    @include max-w($sm) {
      display: block;
    }

    &:active {
      box-shadow: inset 0 0 0 30px rgba($white, 0.1);
    }
  }

  &__line {
    display: flex;

    &,
    &::before,
    &::after {
      @include pseudo;
      width: 30px;
      height: 2px;
      background-color: $white;
    }

    &::before {
      top: 10px;
    }

    &::after {
      top: -10px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }

    @include max-w($sm) {
      display: none;
    }
  }

  &__link {
    position: relative;
    padding: 10px 5px;
  }

  /*  ты говорил что я рано расширил падингами ссылки и можно focus добавить через псевдоэлемент, но у меня не вышло сделать что бы box-shadow заданный через before появлялся при focus, что посоветуешь?  */
}

.burger {
  /*  не могу правильно сделать блокировку скролла для body что бы при этом меню можно было скролить, если добавить overflow hidden для body, то меню нельзя будет скролить даже если на нём висит overflow scroll   */
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.2;
  color: $dark-800;
  background-color: $white;
  padding: 25px 0;
  z-index: 5;
  transform: translateY(-800px);
  transition: transform 0.7s;

  &--active {
    transform: translateY(0);
  }

  @include max-w($sm) {
    display: flex;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px 25px 15px;
  }

  &__close {
    position: relative;
    width: 44px;
    height: 44px;

    &::before {
      @include pseudo;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 18px;
      height: 18px;
      background-image: url('../images/sprite.svg#icon-close');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:active {
      box-shadow: inset 0 0 0 30px rgba($black, 0.1);
    }
  }

  &__nav {
    position: relative;
    display: block;
    padding: 15px 15px 15px 55px;
    line-height: 1;

    &:active {
      box-shadow: inset 0 0 0 30px rgba($black, 0.1);
    }

    &::before {
      @include pseudo;
      top: 15px;
      left: 15px;
      width: 24px;
      height: 19px;
      background-image: url('../images/sprite.svg#icon-catalog');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--green {
      color: $white;
      background-color: $green-900;

      &:active {
        box-shadow: inset 0 0 0 30px rgba($white, 0.3);
      }

      &::before {
        top: 10px;
        width: 24px;
        height: 32px;
        background-image: url('../images/sprite.svg#icon-user');
        filter: invert(100%) sepia(0%) saturate(7441%) hue-rotate(142deg) brightness(131%) contrast(94%);
      }
    }
  }

  &__contacts {
    margin-bottom: 25px;
    border-top: 1px solid rgba($silver-600, 0.3);
    border-bottom: 1px solid rgba($silver-600, 0.3);
  }

  &__contact {
    position: relative;
    display: block;
    padding: 15px 15px 15px 55px;

    &:active {
      box-shadow: inset 0 0 0 30px rgba($black, 0.1);
    }

    &::before {
      @include pseudo;
      left: 15px;
      width: 24px;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--phone::before {
      top: 15px;
      height: 24px;
      background-image: url('../images/sprite.svg#icon-phone');
    }

    &--adress::before {
      top: 20px;
      height: 32px;
      background-image: url('../images/sprite.svg#icon-adress');
    }
  }

  &__social {
    margin-bottom: 25px;
    margin-left: 15px;
  }

  & .burger__icon {
    fill: $dark-800
  }

  &__link {
    display: block;
    padding: 10px 15px;

    &:active {
      box-shadow: inset 0 0 0 30px rgba($black, 0.1);
    }
  }
}

.logo {
  display: block;
  max-width: 200px;
  border-radius: 3px;
  outline: none;
  transition: box-shadow 0.5s;

  &__img {
    object-fit: contain;
  }

  &__img-desctop {
    @include max-w($sm) {
      display: none;
    }
  }

  &__img-mobile {
    display: none;

    @include max-w($sm) {
      display: block;
    }
  }

  &:focus {
    box-shadow: 0 0 0 3px $green-100;
  }
}

.dropdown {
  position: relative;
  z-index: 5;

  @include max-w($sm) {
    display: none;
  }

  &__btn {
    position: relative;
    padding: 13px 39px 13px 60px;
    color: $green-900;
    background-color: $white;
    border-radius: 6px;
    transition: background-color 0.5s, border-radius 0.5s;
    z-index: 5;

    @include max-w($lg) {
      padding: 13px 30px;
    }

    &::before,
    &::after {
      @include pseudo;
      background-size: contain;
      background-repeat: no-repeat;
      filter: invert(48%) sepia(54%) saturate(1237%) hue-rotate(51deg) brightness(98%) contrast(89%);
    }

    &::before {
      top: 17px;
      left: 18px;
      width: 25px;
      height: 20px;
      background-image: url('../images/sprite.svg#icon-catalog');

      @include max-w($lg) {
        left: 3px;
      }
    }

    &::after {
      top: 21px;
      right: 17px;
      width: 10px;
      height: 10px;
      background-image: url('../images/sprite.svg#icon-dropdown-right');
      transition: transform 0.5s;

      @include max-w($lg) {
        display: none;
      }
    }

    &:hover {
      background-color: $green-200;
    }

    &--active {
      background-color: $green-200;
      border-radius: 6px 6px 0 0;

      &::after {
        transform: rotateZ(-90deg);
      }
    }
  }

  &__list {
    position: absolute;
    z-index: 5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;

    &--active {
      max-height: 650px;
    }
  }

  &__item {
    background-color: $white;
    border: 1px solid #ebebeb;
  }

  &__link {
    position: relative;
    display: block;
    overflow: auto;
    max-width: 242px;
    padding: 15px 56px 15px 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: $black;
    outline: transparent;
    transition: box-shadow 0.5s, color 0.5s;

    &::before {
      @include pseudo;
      top: 0;
      left: -1px;
      width: 3px;
      height: 100%;
      background-color: transparent;
      transition: background-color 0.5s;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      color: $green-900;

      &::before {
        background-color: $green-900;
      }
    }

    &:active {
      color: $silver-600;

      &::before {
        background-color: transparent;
      }
    }
  }
}

.search {
  display: flex;
  max-width: 575px;
  width: 100%;

  @include max-w($xl) {
    max-width: 425px;
  }

  @include max-w($lg) {
    display: none;
  }

  &__label {
    position: relative;
    width: 100%;

    &::before {
      @include pseudo;
      top: 15px;
      left: 5px;
      width: 40px;
      height: 20px;
      cursor: text;
      background-image: url('../images/sprite.svg#icon-magnifier');
      background-size: contain;
      background-repeat: no-repeat;
      filter: invert(17%) sepia(33%) saturate(225%) hue-rotate(42deg) brightness(95%) contrast(92%);
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    padding: 12px 15px 12px 50px;
    background-color: $white;
    border: none;
    border-radius: 6px 0 0 6px;
    transition: background-color 0.5s;
    outline: transparent;

    @include max-w($lg) {
      border-radius: 0;
    }

    &::placeholder {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: $dark-800;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba($white, 0.5);
    }
  }

  &__btn {
    padding: 12px 52px;
    text-transform: uppercase;
    background-color: $dark-800;
    border-radius: 0 6px 6px 0;

    @include max-w($lg) {
      padding: 13px 25px;
      border-radius: 0;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba($white, 0.5);
    }

    &:hover {
      background-color: rgba($dark-800, 0.85);
    }
  }
}

.search-mobile {
  position: absolute;
  display: none;
  max-width: 375px;
  width: 100%;
  top: 158px;
  right: 0;
  z-index: 5;
  transform: translateY(-500px);
  /*хотел поставить анимацию что бы поле выезжало сбоку, но когда оно появляется за пределами экрана, то появляется боковой скролл. С этим можно как то бороться или аницаю уже стоит менять на нужную в последний момент, когда всё готово????? */
  transition: transform 0.8s;

  @include max-w($sm) {
    top: 110px;
  }

  &--active {
    transform: translateY(0);
  }

  @include max-w($lg) {
    display: flex;
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;

      @include max-w($sm) {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-right: 5px;

      @include max-w($sm) {
        margin-right: 0;
      }
    }

    &--mobile {
      display: none;

      @include max-w($lg) {
        display: block;
      }
    }
  }
}

.square-button {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  padding: 9px 15px;


  &::before {
    @include pseudo;
    left: 50%;
    top: 50%;
    width: 34px;
    height: 31px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%) sepia(0%) saturate(7454%) hue-rotate(111deg) brightness(108%) contrast(112%);
    transform: translateX(-50%) translateY(-50%);

    @include max-w($sm) {
      height: 25px;
    }
  }

  &:hover {
    background-color: rgba($white, 0.1);
  }

  &:active {
    opacity: 0.1;
  }

  &--magnifier::before {
    background-image: url('../images/sprite.svg#icon-magnifier');
    z-index: 5;
  }

  &--user {
    @include max-w($sm) {
      display: none;
    }

    &::before {
      background-image: url('../images/sprite.svg#icon-user');
    }
  }

  &--favorite {
    @include max-w($sm) {
      display: none;
    }

    &::before {
      background-image: url('../images/sprite.svg#icon-favorite');
    }
  }

  &--cart::before {
    background-image: url('../images/sprite.svg#icon-cart');
  }

  &__num {
    position: absolute;
    top: 5px;
    left: 7px;
    width: 18px;
    height: 18px;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    color: $red-900;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
  }
}

.footer {
  padding-top: 30px;
  color: $white;
  background-color: $dark-800;

  @include max-w($lg) {
    padding-top: 25px;
  }

  &__desktop {
    @include max-w($lg) {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @include max-w($lg) {
      display: block;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0;
  }

  &__form {
    margin-right: 60px;

    @include max-w($lg) {
      margin-right: 0;
    }
  }

  &__text {
    margin-bottom: 20px;
    line-height: 1;
  }

  &__links {
    column-count: 3;
    column-gap: 35px;

    @include max-w($lg) {
      column-count: 2;
      column-gap: 0;
    }

    @include max-w($sm) {
      margin: 25px 0 25px 50px;
    }
  }

  &__item {
    max-width: 250px;
    margin: 0 15px;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    @include max-w($lg) {
      margin: 25px 0;
    }
  }

  &__contact {
    margin-bottom: 18px;
  }

  &__bottom {
    padding: 25px 15px;
    border-top: 1px solid rgba($white, 0.1);

    @include max-w($lg) {
      border-top: none;
    }
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include max-w($lg) {
      flex-direction: column;
    }
  }

  &__copyright {
    @include max-w($lg) {
      margin-top: 25px;
      order: 1;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;

    @include max-w($sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__box {
    min-height: 120px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba($white, 0.1);

    &--column {
      flex-direction: column;
    }

    @include max-w($sm) {
      width: 100%;
    }
  }

  &__social {
    margin: 0 auto;
  }
}

.subscribe {
  max-width: 306px;
  display: flex;

  &__input {
    max-width: 180px;
    padding: 10px 12px;
    background-color: $white;
    border: none;
    border-radius: 6px 0 0 6px;
    outline: transparent;
    transition: box-shadow 0.5s;

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
    }
  }

  &__btn {
    line-height: 1;
    padding: 10px 12px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0 6px 6px 0;
  }
}

.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat
  }

  &__icon {
    fill: $white;
    transition: fill 0.5s;

    &:active {
      fill: $green-200;
    }
  }
}

.payment {
  display: flex;

  &__item {
    height: 29px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(99%) sepia(3%) saturate(288%) hue-rotate(5deg) brightness(116%) contrast(100%);

    &:not(:last-child) {
      margin-right: 25px;
    }

    &--visa {
      width: 93px;
      background-image: url('../images/sprite.svg#icon-visa');
    }

    &--mastercard {
      width: 49px;
      background-image: url('../images/sprite.svg#icon-mastercard');
    }
  }
}

.slider-hero {
  color: $dark-500;

  &__wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__box {
    display: flex;
    min-height: 600px;
    height: 100%;

    @include max-w($lg) {
      min-height: 450px;
    }

    @include max-w($lg) {
      min-height: 450px;
    }

    @include max-w($sm) {
      min-height: 320px;
    }
  }

  &__box.container {
    @include max-w($sm) {
      padding: 0;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 315px;
    height: 100%;
    margin: auto;
    padding: 24px;
    background-color: rgba($white, 0.8);

    @include max-w($xl) {
      max-width: 1000px;
    }

    @include max-w($lg) {}

    @include max-w($sm) {
      min-height: 209px;
      padding: 15px;
    }
  }

  &__title {
    max-width: 930px;
    font-family: 'Ruda', sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.3;
    text-transform: uppercase;

    @include max-w($lg) {
      max-width: 750px;
      font-size: 50px;
    }

    @include max-w($sm) {
      max-width: 475px;
      font-size: 35px;
    }

    @include max-w($xs) {
      max-width: 260px;
      font-size: 20px;
    }
  }

  &__subtitle {
    color: $red-900;
  }

  &__text {
    margin-bottom: 25px;
    font-size: 16px;
  }

  &__btn {
    margin: 0;
    font-size: 18px;
    line-height: 1.3;
    color: $white;

    @include max-w($sm) {
      font-size: inherit;
    }
  }

  &__arrows {
    position: absolute;
    top: 50%;
    z-index: 3;
    width: 60px;
    height: 60px;
    font-size: 0;
    background-color: rgba($white, 0.8);
    border-radius: 6px;
    transform: translateY(-50%);
    transition: box-shadow 0.5s, background-color 0.5s;
    outline: transparent;

    &:focus {
      box-shadow: 0 0 0 3px rgba($green-900, 0.5);
    }

    &:hover {
      background-color: $green-200;
    }

    &:hover .slider-hero__arrow {
      fill: $green-900;
    }

    &:active {
      background-color: $silver-200;
    }

    &--prev {
      left: 60px;

      @include max-w($xl) {
        left: 30px;
      }
    }

    &--next {
      right: 60px;

      @include max-w($xl) {
        right: 30px;
      }
    }
  }

  &__arrow {
    fill: $dark-500;
    transition: fill 0.5s;
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);

    & li:not(:last-child) {
      margin-right: 13px;
    }
  }

  .slick-dots button {
    width: 10px;
    height: 10px;
    padding: 0;
    font-size: 0;
    background-color: $white;
    border-radius: 50%;
    transition: background-color 0.5s;
  }

  .slick-active button {
    background-color: $green-900;
  }

  .slick-disabled .slider-hero__arrow {
    fill: $silver-600;
  }

  & .slick-disabled {

    &:hover,
    &:active {
      background-color: rgba($white, 0.8);
    }
  }
}

.services {
  margin-bottom: 70px;
  padding: 50px 0 30px;
  background-color: $silver-100;

  @include max-w($lg) {
    margin-bottom: 50px;
    padding: 30px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include max-w($sm) {
      flex-direction: column;
      align-items: center;
    }

    @include max-w($xs) {
      align-items: flex-start;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 75px;

    @include max-w($sm) {
      width: 260px;
    }

    @include max-w($xs) {
      width: 100%;
    }

    &:not(:last-child) {
      @include max-w($sm) {
        margin-bottom: 30px;
      }
    }

    &::before {
      @include pseudo;
      left: 0;
      top: 0;
      width: 50px;
      height: 50px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: invert(52%) sepia(17%) saturate(4101%) hue-rotate(52deg) brightness(97%) contrast(89%);
    }

    &--scooter::before {
      background-image: url('../images/sprite.svg#icon-scooter');
    }

    &--box::before {
      background-image: url('../images/sprite.svg#icon-box');
    }

    &--24-hours::before {
      background-image: url('../images/sprite.svg#icon-24-hours');
    }
  }

  &__caption {
    max-width: 200px;
    /*  стоит ли здесь ограничивать контент, ведь блок не подразумевает что он будет изменятся  */
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 16px;
  }

  &__text {
    max-width: 185px;
    color: $dark-500;

    @include max-w($xs) {
      min-width: 100%;
    }
  }
}

.top-products {
  margin-bottom: 75px;
  letter-spacing: 0.03em;

  @include max-w($lg) {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include max-w($sm) {
      margin-bottom: 20px;
    }
  }

  &__item {
    margin: 0 15px 30px 15px;

    @include max-w($sm) {
      margin: 0 2px 5px 0;
    }
  }
}

.mix-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  @include max-w($lg) {
    margin-bottom: 10px;
  }

  @include max-w($sm) {
    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }

    @include max-w($sm) {
      margin-bottom: 15px;
    }
  }

  &__btn {
    position: relative;
    padding: 0;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark-500;
    border-radius: 3px;
    outline: transparent;
    transition: color 0.5s, opacity 0.5s, box-shadow 0.5s, background-color 0.5s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      color: $green-900;
    }

    &:active {
      color: $green-200;
    }

    &::after {
      @include pseudo;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 3px;
      background-color: rgba($green-900, 0.2);
      transition: width 0.5s;
    }

    @include max-w($xs) {
      font-size: 14px;
    }
  }

  .mixitup-control-active {
    &::after {
      width: 100%;
    }
  }
}

.card-top {
  position: relative;
  width: 300px;
  height: 409px;
  padding: 10px 0;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  transition: border-color 0.5s;

  @include max-w($sm) {
    min-height: 309px;
    max-height: 344px;
    width: 170px;
    height: 100%;
  }

  &:hover {
    border-color: $green-900;
  }

  &__top {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 3px 0 10px;
  }

  &__badges {
    display: flex;
    flex-direction: column;
  }

  &__image {
    position: relative;
    margin-bottom: 20px;
  }

  &__img {
    object-fit: contain;

    @include max-w($sm) {
      width: 170px;
      height: 120px;
    }
  }

  &__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($black, 0.1);
    transition: background-color 0.7s, opacity 0.9s;
    opacity: 0;


    &::before,
    &::after {
      /*  у меня filter конфликтовал с background-color, пришлось зделать их через отдельные элементы  */
      @include pseudo;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    &::before {
      width: 20px;
      height: 20px;
      background-image: url('../images/sprite.svg#icon-magnifier');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: invert(52%) sepia(17%) saturate(4101%) hue-rotate(52deg) brightness(97%) contrast(89%);
      z-index: 3;
    }

    &::after {
      width: 48px;
      height: 48px;
      background-color: $white;
      border-radius: 50%;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__bottom {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 15px;
  }

  &__title {
    max-width: 260px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    @include line-clamp(3);
  }

  &__bottom-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__cart {
    position: relative;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 3px;

    &::before {
      @include pseudo;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 15px;
      transform: translateX(-50%) translateY(-50%);
      background-image: url('../images/sprite.svg#icon-cart-btn');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(211deg) brightness(119%) contrast(102%);
    }
  }
}

.banners {
  margin-bottom: 70px;

  @include max-w($lg) {
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    @include max-w($lg) {
      flex-wrap: wrap;
      max-width: 800px;
    }

    @include max-w($sm) {
      max-width: 345px;
    }
  }

  &__item {
    max-width: 300px;
    width: 100%;
    color: $dark-500;

    @include max-w($sm) {
      max-width: 345px;
      margin-bottom: 15px;
    }

    &--big {
      max-width: 630px;
      color: $white;
      text-shadow: 1px 1px 0 rgba($black, 0.25);

      @include max-w($lg) {
        margin-bottom: 15px;
        margin-right: 0;
      }

      @include max-w($sm) {
        max-width: 345px;
      }
    }

    &:not(:last-child) {
      margin-right: 30px;

      @include max-w($sm) {
        margin-right: 0;
      }
    }

    &:nth-child(1) {
      @include max-w($lg) {
        margin-right: 0;
      }
    }
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  padding: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  background-size: cover;
  background-position: center;
  /*  нужно ли переставлять позицию для бэкгроунд или вырезать другую картнку для первого баннера????  */
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: transparent;
  transition: box-shadow 0.5s, border-color 0.5s;

  @include max-w($xs) {
    padding: 15px;
  }

  &__pretitle {
    margin-bottom: 18px;
    font-size: 12px;
    letter-spacing: 0.1em;
  }

  &__title {
    max-width: 160px;
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.4;
    @include line-clamp(2);

    @include max-w($xs) {
      font-size: 24px;
      margin-bottom: 15px;
    }

    &--wide {
      max-width: 350px;

      @include max-w($sm) {
        max-width: 275px;
      }
    }
  }

  &__link {
    position: relative;
    width: fit-content;
    padding: 10px 0;
    font-size: 14px;
    border-radius: 3px;
    outline: transparent;
    transition: box-shadow 0.5s, opacity 0.5s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      opacity: 0.4;
    }

    &:active {
      opacity: 0.8;
    }

    &::after {
      @include pseudo;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $dark-500;
    }

    &--white {
      &::after {
        background-color: $white;
      }
    }
  }
}

.sales {
  margin-bottom: 70px;
  padding: 70px 0;
  background-color: $silver-100;

  @include max-w($lg) {
    margin-bottom: 50px;
    padding: 50px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  &__item {
    margin: 0 15px 30px 15px;

    @include max-w($sm) {
      margin-bottom: 15px;
    }
  }

  &__btn {
    padding: 12px 24px;
    font-size: 18px;
    line-height: 1.3;
    color: $white;
  }
}

.card-mini {
  font-weight: 600;
  letter-spacing: 0.03em;

  &__link {
    position: relative;
    display: flex;
    width: 300px;
    height: 125px;
    padding: 15px 10px;
    background-color: $white;
    border: 1px solid $silver-600;
    border-radius: 6px;
    outline: transparent;
    transition: opacity 0.5s, box-shadow 0.5s, border-color 0.5s;

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
    }

    &:hover {
      border-color: $green-900;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__badge {
    position: absolute;
    left: 10px;
    top: 14px;
    z-index: 3;
  }

  &__grade {
    position: absolute;
    right: 30px;
    bottom: 10px;
    font-weight: 700;
    line-height: 1;
    color: $dark-500;

    &::after {
      @include pseudo;
      bottom: 0;
      right: -18px;
      width: 16px;
      height: 16px;
      background-image: url('../images/sprite.svg#icon-grade');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: invert(73%) sepia(53%) saturate(2879%) hue-rotate(2deg) brightness(105%) contrast(103%);
    }
  }

  &__img {
    object-fit: contain;
    margin-right: 10px;
  }

  &__content {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 14px;
    @include line-clamp(3);
  }

  &__inner {
    line-height: 1;
  }

  &__price {
    margin-top: 10px;
    flex-direction: row;
    align-items: flex-end;
  }

  &__cost {
    margin-right: 15px;
    font-size: 20px;
  }

  &__cost span {
    font-size: 14px;
  }

  &__discount {
    margin: 0;
    font-size: 12px;

    &::before {
      width: 39px;
      left: -4px;
      top: 5px;

    }
  }
}

.slider-brands {
  margin-bottom: 70px;

  @include max-w($lg) {
    margin-bottom: 50px;
  }

  &__link {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &:hover .slider-brands__img {
      opacity: 1;
    }

    &:active .slider-brands__img {
      opacity: 0.7;
    }
  }

  &__img {
    object-fit: contain;
    opacity: 0.5;
    transition: opacity 0.5s;
  }
}

.news {
  margin-bottom: 70px;

  @include max-w($lg) {
    margin-bottom: 50px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include max-w($sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    margin: 0;
  }

  &__link {
    position: relative;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    color: $green-900;
    border-radius: 3px;
    transition: box-shadow 0.5s, opacity 0.5s, color 0.5s;

    &::before {
      @include pseudo;
      top: 20px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $green-900;
      transition: background-color 0.5s;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      color: $green-1000;
    }

    &:active::before {
      background-color: $green-200;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include max-w($sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;

      @include max-w ($sm) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
}

.article {
  height: 345px;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 3px 3px rgba($black, 0.25);

  @include max-w($sm) {
    max-height: 290px;
    height: 100%;
  }

  &__link {
    position: relative;
    padding: 18px 0;
    transition: box-shadow 0.5s;
    /*  ты сделал замечание что сдесь не задан transition для color, но цвет меняется не у ссылки, а у title. У него есть плавность, ниже в коде  */

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
    }

    &:hover .article__title {
      color: $green-900;
    }

    &:active .article__title {
      color: $yellow-900;
    }
  }

  &__date {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 3;
    width: 65px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $dark-900;
    background-color: $white;
    border-radius: 0 0 4px 4px;
  }

  &__month {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__number {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
  }

  &__img {
    border-radius: 6px 6px 0 0;
    object-fit: cover;
    margin-bottom: 18px;

    @include max-w($sm) {
      width: 345px;
      height: 200px;
    }
  }

  &__title {
    max-width: 390px;
    padding: 0 18px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: $dark-900;
    transition: color 0.5s;
    @include line-clamp(3);

    @include max-w($sm) {
      font-size: 14px;
    }
  }
}