          <ul class="pagination">
              <li class="pagination__item">
                  <a class="pagination__link pagination__arrow pagination__arrow--prev pagination__arrow--disabled" href="#"></a>
              </li>

              <li class="pagination__item">
                  <span class="pagination__link pagination__link--active" href="#">1</span>
              </li>

              <li class="pagination__item">
                  <a class="pagination__link" href="#">2</a>
              </li>

              <li class="pagination__item">
                  <span class="pagination__link" href="#">...</span>
              </li>

              <li class="pagination__item">
                  <a class="pagination__link" href="#">9</a>
              </li>

              <li class="pagination__item">
                  <a class="pagination__link" href="#">10</a>
              </li>

              <li class="pagination__item">
                  <a class="pagination__link pagination__arrow pagination__arrow--next" href="#"></a>
              </li>
          </ul>