  <footer class="footer">
    <div class="container">
      <a class="logo" href="#">
        <img class="logo__img" width="200" height="60" src="images/logo.png" alt="Наш логотип">
      </a>

      <div class="footer__top">
        <div class="footer__form">
          <div class="footer__text">
            <p>Следите за нашими акциями</p>
          </div>

          <form class="subscribe">
            <label class="sr-only" for="subscribe">введите email что бы подписаться</label>

            <input class="subscribe__input" id="subscribe" name="subscribe" type="email" placeholder="email@email.com"
              required>

            <button class="subscribe__btn btn" type="submit">подписаться</button>
          </form>
        </div>

        <nav class="footer__links-wrapper">
          <ul class="footer__links">
            <li class="footer__item">
              <a class="footer__link condition" href="#">О нас</a>
            </li>

            <li class="footer__item">
              <a class="footer__link condition" href="#">Контакты</a>
            </li>

            <li class="footer__item">
              <a class="footer__link condition" href="#">Публичная оферта</a>
            </li>

            <li class="footer__item">
              <a class="footer__link condition" href="#">Оплата и доставка</a>
            </li>

            <li class="footer__item">
              <a class="footer__link condition" href="#">Вакансии</a>
            </li>

            <li class="footer__item">
              <a class="footer__link condition" href="#">Акции</a>
            </li>

            <li class="footer__item">
              <a class="footer__link condition" href="#">Отзывы</a>
            </li>

            <li class="footer__item">
              <a class="footer__link condition" href="#">Новости</a>
            </li>
          </ul>
        </nav>

        <address class="footer__contacts">
          <a class="footer__contact condition" href="tel: +7907288365">
            Горячая линия +7 907 288 365
          </a>

          <a class="footer__contact condition" href="https://goo.gl/maps/w2UyKSPMbcouMgxi7" target="_blank">
            Санкт-Петербург, ул. Ленина, 1
          </a>

          <ul class="social">
            <li class="social__item">
              <a class="social__link condition" href="#" target="_blank">
                <svg class="social__icon" width="32" height="32">
                  <use xlink:href="images/sprite.svg#icon-facebook"></use>
                </svg>

                <span class="sr-only">Написать в facebook</span>
              </a>
            </li>

            <li class="social__item">
              <a class="social__link condition" href="#" target="_blank">
                <svg class="social__icon" width="32" height="32">
                  <use xlink:href="images/sprite.svg#icon-youtube"></use>
                </svg>

                <span class="sr-only">Перейти на youtube канал</span>
              </a>
            </li>

            <li class="social__item">
              <a class="social__link condition" href="#" target="_blank">
                <svg class="social__icon" width="32" height="32">
                  <use xlink:href="images/sprite.svg#icon-telegram"></use>
                </svg>

                <span class="sr-only">Написать в telegram</span>
              </a>
            </li>

            <li class="social__item">
              <a class="social__link condition" href="#" target="_blank">
                <svg class="social__icon" width="33" height="32">
                  <use xlink:href="images/sprite.svg#icon-instagram"></use>
                </svg>

                <span class="sr-only">Написать в instagram</span>
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="container">
        <div class="footer__bottom-inner">
          <span class="footer__copyright">&copy; 2021 ФРЕШОК</span>

          <ul class="payment">
            <li class="payment__item">
              <svg class="payment__icon" width="93" height="29">
                <use xlink:href="images/sprite.svg#icon-visa"></use>
              </svg>
            </li>
            <li class="payment__item">
              <svg class="payment__icon" width="49" height="29">
                <use xlink:href="images/sprite.svg#icon-mastercard"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>