  <header class="header header-down">
    <nav class="header__nav">
      <div class="header__top">
        <div class="container">
          <div class="header__top-inner">
            <div class="header__connection">
              <a class="icon-link icon-link--time condition" href="#">
                адрес и время доставки
              </a>

              <a class="icon-link icon-link--phone condition" href="tel:+7907288365">
                горячая линия 24/7
                <span class="sr-only">позвонить</span>
              </a>
            </div>

            <button class="btn-burger" type="button">
              <span class="btn-burger__line"></span>

              <span class="sr-only">открыть меню</span>
            </button>

            <ul class="menu">
              <li class="menu__item">
                <a class="menu__link condition" href="#">доставка</a>
              </li>
              <li class="menu__item">
                <a class="menu__link condition" href="#">о нас</a>
              </li>
              <li class="menu__item">
                <a class="menu__link condition" href="#">новости</a>
              </li>
            </ul>
          </div>

          <div class="dropdown-main">
            <div class="dropdown-main__head">
              <a class="logo" href="#">
                <img class="logo__img" width="200" height="60" src="images/logo-burger.png" alt="Наш логотип">
              </a>

              <button class="btn-burger btn-burger--close" type="button">
                <span class="btn-burger__line"></span>

                <span class="sr-only">закрыть меню</span>
              </button>
            </div>

            <div class="dropdown-main__content">
              <button class="dropdown-main__nav dropdown-main__nav--green" type="button">Вход | Регистрация</button>

              <a class="dropdown-main__nav" href="#">Каталог товаров</a>

              <address class="dropdown-main__contacts">
                <a class="dropdown-main__contact dropdown-main__contact--phone" href="tel: +7907288365">
                  +7 907 288 365
                  <span class="sr-only">позвонить</span>
                </a>

                <a class="dropdown-main__contact dropdown-main__contact--adress"
                  href="https://goo.gl/maps/w2UyKSPMbcouMgxi7" target="_blank">
                  Санкт-Петербург, ул. Ленина, 1
                </a>

                <ul class="dropdown-main__social social social--dark">
                  <li class="social__item">
                    <a class="social__link condition" href="#" target="_blank">
                      <svg class="social__icon" width="32" height="32">
                        <use xlink:href="images/sprite.svg#icon-facebook"></use>
                      </svg>

                      <span class="sr-only">Написать в facebook</span>
                    </a>
                  </li>

                  <li class="social__item">
                    <a class="social__link condition" href="#" target="_blank">
                      <svg class="social__icon" width="32" height="32">
                        <use xlink:href="images/sprite.svg#icon-youtube"></use>
                      </svg>

                      <span class="sr-only">Перейти на youtube канал</span>
                    </a>
                  </li>

                  <li class="social__item">
                    <a class="social__link condition" href="#" target="_blank">
                      <svg class="social__icon" width="32" height="32">
                        <use xlink:href="images/sprite.svg#icon-telegram"></use>
                      </svg>

                      <span class="sr-only">Написать в telegram</span>
                    </a>
                  </li>

                  <li class="social__item">
                    <a class="social__link condition" href="#" target="_blank">
                      <svg class="social__icon" width="33" height="32">
                        <use xlink:href="images/sprite.svg#icon-instagram"></use>
                      </svg>

                      <span class="sr-only">Написать в instagram</span>
                    </a>
                  </li>
                </ul>
              </address>

              <ul class="dropdown-main__list">
                <li class="dropdown-main__item">
                  <a class="dropdown-main__link" href="#">Доставка</a>
                </li>

                <li class="dropdown-main__item">
                  <a class="dropdown-main__link" href="#">О нас</a>
                </li>

                <li class="dropdown-main__item">
                  <a class="dropdown-main__link" href="#">Новости</a>
                </li>

                <li class="dropdown-main__item">
                  <a class="dropdown-main__link" href="#">Контакты</a>
                </li>

                <li class="dropdown-main__item">
                  <a class="dropdown-main__link" href="#">Акции</a>
                </li>

                <li class="dropdown-main__item">
                  <a class="dropdown-main__link" href="#">Вакансии</a>
                </li>

                <li class="dropdown-main__item">
                  <a class="dropdown-main__link" href="#">Отзывы</a>
                </li>

                <li class="dropdown-main__item">
                  <a class="dropdown-main__link" href="#">Публичная оферта</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="header__bottom">
        <div class="container">
          <div class="header__bottom-inner">
            <a class="logo" href="#">
              <picture class="logo__picture">
                <source class="logo__source" srcset="images/logo.png" width="200" height="60"
                  media="(min-width: 768px)">

                <img class="logo__img" width="37" height="40" src="images/logo-mobile.png" alt="Наш логотип">
              </picture>
            </a>

            <div class="header__dropdown dropdown-catalog">
              <button class="dropdown-catalog__btn" type="button">Каталог продуктов</button>

              <ul class="dropdown-catalog__list">
                <li class="dropdown-catalog__item">
                  <a class="dropdown-catalog__link" href="#">Овощи и фрукты</a>
                </li>

                <li class="dropdown-catalog__item">
                  <a class="dropdown-catalog__link" href="#">Бакалея</a>
                </li>

                <li class="dropdown-catalog__item">
                  <a class="dropdown-catalog__link" href="#">Молочные продукты</a>
                </li>

                <li class="dropdown-catalog__item">
                  <a class="dropdown-catalog__link" href="#">Хлеб</a>
                </li>

                <li class="dropdown-catalog__item">
                  <a class="dropdown-catalog__link" href="#">Мясо</a>
                </li>

                <li class="dropdown-catalog__item">
                  <a class="dropdown-catalog__link" href="#">Колбаса</a>
                </li>

                <li class="dropdown-catalog__item">
                  <a class="dropdown-catalog__link" href="#">Рыба</a>
                </li>

                <li class="dropdown-catalog__item">
                  <a class="dropdown-catalog__link" href="#">Алкоголь</a>
                </li>

                <li class="dropdown-catalog__item">
                  <a class="dropdown-catalog__link" href="#">Напитки</a>
                </li>

                <li class="dropdown-catalog__item">
                  <a class="dropdown-catalog__link" href="#">Торты</a>
                </li>

                <li class="dropdown-catalog__item">
                  <a class="dropdown-catalog__link" href="#">Мясо</a>
                </li>

                <li class="dropdown-catalog__item">
                  <a class="dropdown-catalog__link" href="#">Чай, кофе</a>
                </li>
              </ul>
            </div>

            <form class="header__search search">
              <label class="search__label">
                <input class="search__input" type="search" name="search" placeholder="Найти в магазине ..." required>

                <span class="sr-only">введите запрос для поиска</span>
              </label>

              <button class="search__btn btn" type="submit">поиск</button>
            </form>

            <ul class="user-nav">
              <li class="user-nav__item user-nav__item--mobile">
                <button class="square-button square-button--magnifier condition" type="button">
                  <span class="sr-only">открыть поиск</span>
                </button>
              </li>

              <li class="user-nav__item">
                <button class="square-button square-button--user condition" type="button">
                  <span class="sr-only">открыть меню пользователя</span>
                </button>
              </li>

              <li class="user-nav__item">
                <button class="square-button square-button--favorite condition" type="button">
                  <span class="square-button__num">12</span>
                  <span class="sr-only">открыть избранное</span>
                </button>
              </li>

              <li class="user-nav__item">
                <button class="square-button square-button--cart condition" type="button">
                  <span class="square-button__num">12</span>
                  <span class="sr-only">открыть корзину</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>