    <section class="sales" data-ref="filter-2">
      <div class="container container--large">
        <h2 class="title">акции</h2>

        <ul class="mix-filter">
          <li class="mix-filter__item">
            <button class="mix-filter__btn" type="button" data-filter="all">
              все товары
            </button>
          </li>

          <li class="mix-filter__item">
            <button class="mix-filter__btn" type="button" data-filter=".category-a">
              новинки
            </button>
          </li>

          <li class="mix-filter__item">
            <button class="mix-filter__btn" type="button" data-filter=".category-b">
              хиты
            </button>
          </li>
        </ul>

        <ul class="sales__list">
          <li class="sales__item mix category-a" data-order="1">
            <article class="card-mini">
              <a class="card-mini__link" href="#">
                <span class="card-mini__badge badge badge--green">новинка</span>
                <span class="card-mini__badge badge badge--orange" style="display: none;">хит</span>

                <span class="grade">4.5</span>

                <img class="card-mini__img" width="100" height="100" src="images/sales/1.png" alt="ананас">

                <div class="card-mini__content">
                  <h3 class="card-mini__title">Ананас, 1 кг</h3>

                  <div class="card-mini__inner">
                    <span class="availability availability--green">
                      в наличии
                    </span>
                    <span class="availability availability--red" style="display: none;">
                      заканчивается
                    </span>
                    <span class="availability availability--silver" style="display: none;">
                      нет в наличии
                    </span>

                    <div class="card-mini__price price">
                      <span class="card-mini__cost cost">
                        999<span>&#8381;</span>
                      </span>

                      <span class="card-mini__discount discount">1999<span>&#8381;</span></span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>

          <li class="sales__item mix category-a" data-order="1">
            <article class="card-mini">
              <a class="card-mini__link" href="#">
                <span class="card-mini__badge badge badge--green">новинка</span>
                <span class="card-mini__badge badge badge--orange" style="display: none;">хит</span>

                <span class="grade">4.9</span>

                <img class="card-mini__img" width="100" height="100" src="images/sales/2.png" alt="кофе с нополей">

                <div class="card-mini__content">
                  <h3 class="card-mini__title">
                    Кофе с коноплей органический Caffé Salomoni 250г
                  </h3>

                  <div class="card-mini__inner">
                    <span class="availability availability--green" style="display: none;">
                      в наличии
                    </span>
                    <span class="availability availability--red">
                      заканчивается
                    </span>
                    <span class="availability availability--silver" style="display: none;">
                      нет в наличии
                    </span>

                    <div class="card-mini__price price">
                      <span class="card-mini__cost cost">
                        777<span>&#8381;</span>
                      </span>

                      <span class="card-mini__discount discount">877<span>&#8381;</span></span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>

          <li class="sales__item mix category-a" data-order="1">
            <article class="card-mini">
              <a class="card-mini__link" href="#">
                <span class="card-mini__badge badge badge--green">новинка</span>
                <span class="card-mini__badge badge badge--orange" style="display: none;">хит</span>

                <span class="grade">5.0</span>

                <img class="card-mini__img" width="100" height="100" src="images/sales/3.png" alt="клубника">

                <div class="card-mini__content">
                  <h3 class="card-mini__title">Клубника, 1кг</h3>

                  <div class="card-mini__inner">
                    <span class="availability availability--green" style="display: none;">
                      в наличии
                    </span>
                    <span class="availability availability--red" style="display: none;">
                      заканчивается
                    </span>
                    <span class="availability availability--silver">
                      нет в наличии
                    </span>

                    <div class="card-mini__price price">
                      <span class="card-mini__cost cost">
                        440<span>&#8381;</span>
                      </span>

                      <span class="card-mini__discount discount">600<span>&#8381;</span></span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>

          <li class="sales__item mix category-a" data-order="1">
            <article class="card-mini">
              <a class="card-mini__link" href="#">
                <span class="card-mini__badge badge badge--green">новинка</span>
                <span class="card-mini__badge badge badge--orange" style="display: none;">хит</span>

                <span class="grade">5.0</span>

                <img class="card-mini__img" width="100" height="100" src="images/sales/4.png" alt="манго">

                <div class="card-mini__content">
                  <h3 class="card-mini__title">Манго, 1шт</h3>

                  <div class="card-mini__inner">
                    <span class="availability availability--green">
                      в наличии
                    </span>
                    <span class="availability availability--red" style="display: none;">
                      заканчивается
                    </span>
                    <span class="availability availability--silver" style="display: none;">
                      нет в наличии
                    </span>

                    <div class="card-mini__price price">
                      <span class="card-mini__cost cost">
                        660<span>&#8381;</span>
                      </span>

                      <span class="card-mini__discount discount">960<span>&#8381;</span></span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>

          <li class="sales__item mix category-a" data-order="1">
            <article class="card-mini">
              <a class="card-mini__link" href="#">
                <span class="card-mini__badge badge badge--green">новинка</span>
                <span class="card-mini__badge badge badge--orange" style="display: none;">хит</span>

                <span class="grade">4.5</span>

                <img class="card-mini__img" width="100" height="100" src="images/sales/5.png" alt="лосось">

                <div class="card-mini__content">
                  <h3 class="card-mini__title">Лосось, 1кг</h3>

                  <div class="card-mini__inner">
                    <span class="availability availability--green">
                      в наличии
                    </span>
                    <span class="availability availability--red" style="display: none;">
                      заканчивается
                    </span>
                    <span class="availability availability--silver" style="display: none;">
                      нет в наличии
                    </span>

                    <div class="card-mini__price price">
                      <span class="card-mini__cost cost">
                        999<span>&#8381;</span>
                      </span>

                      <span class="card-mini__discount discount">1199<span>&#8381;</span></span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>

          <li class="sales__item mix category-b" data-order="2">
            <article class="card-mini">
              <a class="card-mini__link" href="#">
                <span class="card-mini__badge badge badge--green" style="display: none;">новинка</span>
                <span class="card-mini__badge badge badge--orange">хит</span>

                <span class="grade">4.9</span>

                <img class="card-mini__img" width="100" height="100" src="images/sales/6.png" alt="сок овощной">

                <div class="card-mini__content">
                  <h3 class="card-mini__title">Сок Granini овощной 100%, 0.5л</h3>

                  <div class="card-mini__inner">
                    <span class="availability availability--green" style="display: none;">
                      в наличии
                    </span>
                    <span class="availability availability--red">
                      заканчивается
                    </span>
                    <span class="availability availability--silver" style="display: none;">
                      нет в наличии
                    </span>

                    <div class="card-mini__price price">
                      <span class="card-mini__cost cost">
                        1800<span>&#8381;</span>
                      </span>

                      <span class="card-mini__discount discount">230<span>&#8381;</span></span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>

          <li class="sales__item mix category-b" data-order="2">
            <article class="card-mini">
              <a class="card-mini__link" href="#">
                <span class="card-mini__badge badge badge--green" style="display: none;">новинка</span>
                <span class="card-mini__badge badge badge--orange">хит</span>

                <span class="grade">4.8</span>

                <img class="card-mini__img" width="100" height="100" src="images/sales/7.png" alt="фруктовая корзина">

                <div class="card-mini__content">
                  <h3 class="card-mini__title">Фруктовая корзина, 1 шт</h3>

                  <div class="card-mini__inner">
                    <span class="availability availability--green">
                      в наличии
                    </span>
                    <span class="availability availability--red" style="display: none;">
                      заканчивается
                    </span>
                    <span class="availability availability--silver" style="display: none;">
                      нет в наличии
                    </span>

                    <div class="card-mini__price price">
                      <span class="card-mini__cost cost">
                        3990<span>&#8381;</span>
                      </span>

                      <span class="card-mini__discount discount">5990<span>&#8381;</span></span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>

          <li class="sales__item mix category-b" data-order="2">
            <article class="card-mini">
              <a class="card-mini__link" href="#">
                <span class="card-mini__badge badge badge--green" style="display: none;">новинка</span>
                <span class="card-mini__badge badge badge--orange">хит</span>

                <span class="grade">4.6</span>

                <img class="card-mini__img" width="100" height="100" src="images/sales/8.png" alt="мякоть свинины">

                <div class="card-mini__content">
                  <h3 class="card-mini__title">Свинина мякоть, 1 кг</h3>

                  <div class="card-mini__inner">
                    <span class="availability availability--green" style="display: none;">
                      в наличии
                    </span>
                    <span class="availability availability--red" style="display: none;">
                      заканчивается
                    </span>
                    <span class="availability availability--silver">
                      нет в наличии
                    </span>

                    <div class="card-mini__price price">
                      <span class="card-mini__cost cost">
                        999<span>&#8381;</span>
                      </span>

                      <span class="card-mini__discount discount">1999<span>&#8381;</span></span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>
        </ul>

        <button class="btn btn--center" type="button">Показать ещё</button>
      </div>
    </section>