    <div class="services">
      <div class="container">
        <ul class="services__inner">
          <li class="services__item services__item--scooter">
            <span class="services__caption">
              Бесплатная доставка
            </span>

            <span class="services__text">
              Для заказов на сумму от 500 <span>&#8381;</span>
            </span>
          </li>

          <li class="services__item services__item--box">
            <span class="services__caption">
              Возврат товара
            </span>

            <span class="services__text">
              Если товары были испорчены
            </span>
          </li>

          <li class="services__item services__item--24-hours">
            <span class="services__caption">
              Поддержка 24/7
            </span>

            <span class="services__text">
              Лучшие операторы
            </span>
          </li>
        </ul>
      </div>
    </div>