    <div class="slider-brands">
      <div class="container">
        <ul class="slider-brands__items">
          <li class="slider-brands__item">
            <a class="slider-brands__link" href="#">
              <img class="slider-brands__img" width="80" height="58" src="images/slider-brands/Sprite.png"
                alt="логотип Sprite">

              <span class="sr-only">перейти на страницу бренда</span>
            </a>
          </li>

          <li class="slider-brands__item">
            <a class="slider-brands__link" href="#">
              <img class="slider-brands__img" width="80" height="58" src="images/slider-brands/drpepper.png"
                alt="логотип dr. pepper">

              <span class="sr-only">перейти на страницу бренда</span>
            </a>
          </li>

          <li class="slider-brands__item">
            <a class="slider-brands__link" href="#">
              <img class="slider-brands__img" width="80" height="58" src="images/slider-brands/cocacola.png"
                alt="логотип coca cola">

              <span class="sr-only">перейти на страницу бренда</span>
            </a>
          </li>

          <li class="slider-brands__item">
            <a class="slider-brands__link" href="#">
              <img class="slider-brands__img" width="80" height="58" src="images/slider-brands/pepsi.png"
                alt="логотип pepsi">

              <span class="sr-only">перейти на страницу бренда</span>
            </a>
          </li>

          <li class="slider-brands__item">
            <a class="slider-brands__link" href="#">
              <img class="slider-brands__img" width="80" height="58" src="images/slider-brands/redbull.png"
                alt="логотип red bull">

              <span class="sr-only">перейти на страницу бренда</span>
            </a>
          </li>

          <li class="slider-brands__item">
            <a class="slider-brands__link" href="#">
              <img class="slider-brands__img" width="80" height="58" src="images/slider-brands/fanta.png"
                alt="логотип fanta">

              <span class="sr-only">перейти на страницу бренда</span>
            </a>
          </li>

          <li class="slider-brands__item">
            <a class="slider-brands__link" href="#">
              <img class="slider-brands__img" width="80" height="58" src="images/slider-brands/Sprite.png"
                alt="логотип Sprite">

              <span class="sr-only">перейти на страницу бренда</span>
            </a>
          </li>

          <li class="slider-brands__item">
            <a class="slider-brands__link" href="#">
              <img class="slider-brands__img" width="80" height="58" src="images/slider-brands/drpepper.png"
                alt="логотип dr. pepper">

              <span class="sr-only">перейти на страницу бренда</span>
            </a>
          </li>

          <li class="slider-brands__item">
            <a class="slider-brands__link" href="#">
              <img class="slider-brands__img" width="80" height="58" src="images/slider-brands/cocacola.png"
                alt="логотип coca cola">

              <span class="sr-only">перейти на страницу бренда</span>
            </a>
          </li>

          <li class="slider-brands__item">
            <a class="slider-brands__link" href="#">
              <img class="slider-brands__img" width="80" height="58" src="images/slider-brands/pepsi.png"
                alt="логотип pepsi">

              <span class="sr-only">перейти на страницу бренда</span>
            </a>
          </li>

          <li class="slider-brands__item">
            <a class="slider-brands__link" href="#">
              <img class="slider-brands__img" width="80" height="58" src="images/slider-brands/redbull.png"
                alt="логотип red bull">

              <span class="sr-only">перейти на страницу бренда</span>
            </a>
          </li>

          <li class="slider-brands__item">
            <a class="slider-brands__link" href="#">
              <img class="slider-brands__img" width="80" height="58" src="images/slider-brands/fanta.png"
                alt="логотип fanta">

              <span class="sr-only">перейти на страницу бренда</span>
            </a>
          </li>
        </ul>
      </div>
    </div>