    <section class="top-products" data-ref="filter-1">
      <div class="container container--large">
        <h2 class="title">топовые товары</h2>

        <ul class="mix-filter">
          <li class="mix-filter__item">
            <button class="mix-filter__btn" type="button" data-filter="all">
              все товары
            </button>
          </li>

          <li class="mix-filter__item">
            <button class="mix-filter__btn" type="button" data-filter=".category-a">
              фрукты
            </button>
          </li>

          <li class="mix-filter__item">
            <button class="mix-filter__btn" type="button" data-filter=".category-b">
              овощи
            </button>
          </li>

          <li class="mix-filter__item">
            <button class="mix-filter__btn" type="button" data-filter=".category-c">
              напитки
            </button>
          </li>

          <li class="mix-filter__item">
            <button class="mix-filter__btn" type="button" data-filter=".category-d">
              бакалея
            </button>
          </li>
        </ul>

        <ul class="top-products__list">
          <li class="top-products__item mix category-a" data-order="1">
            <article class="main-card">
              <div class="main-card__badges">
                <span class="badge badge--green">новинка</span>
                <span class="badge badge--red">-50%</span>
                <span class="badge badge--orange" style="display: none;">хит</span>
              </div>

              <button class="main-card__like like" type="button">
                <svg class="like__icon" width="32" height="29">
                  <use xlink:href="images/sprite.svg#icon-favorite"></use>
                </svg>

                <span class="sr-only">добавить товар в избранное</span>
              </button>

              <div class="main-card__image">
                <img class="main-card__img" width="298" height="215" alt="Ананас" src="images/catalog/1.png">

                <a class="main-card__link" href="#"></a>
              </div>

              <div class="main-card__bottom">
                <h3 class="main-card__title">Ананас, 1кг</h3>
              </div>

              <div class="main-card__price price">
                <span class="discount">1999 <span>&#8381;</span></span>
                <span class="cost">999 <span>&#8381;</span></span>
              </div>

              <button class="main-card__cart btn" type="button">
                <span class="sr-only">добавить товар в корзину</span>
              </button>
            </article>
          </li>

          <li class="top-products__item mix category-a" data-order="1">
            <article class="main-card">
              <div class="main-card__badges">
                <span class="badge badge--green" style="display: none;">новинка</span>
                <span class="badge badge--red" style="display: none;">-50%</span>
                <span class="badge badge--orange" style="display: none;">хит</span>
              </div>

              <button class="main-card__like like" type="button">
                <svg class="like__icon" width="32" height="29">
                  <use xlink:href="images/sprite.svg#icon-favorite"></use>
                </svg>

                <span class="sr-only">добавить товар в избранное</span>
              </button>

              <div class="main-card__image">
                <img class="main-card__img" width="298" height="215" alt="Лимон" src="images/catalog/2.png">

                <a class="main-card__link" href="#"></a>
              </div>

              <div class="main-card__bottom">
                <h3 class="main-card__title">Лимон, 1кг</h3>
              </div>

              <div class="main-card__price price">
                <span class="discount" style="display: none;"></span>
                <span class="cost">199 <span>&#8381;</span></span>
              </div>

              <button class="main-card__cart btn" type="button">
                <span class="sr-only">добавить товар в корзину</span>
              </button>
            </article>
          </li>

          <li class="top-products__item mix category-a" data-order="1">
            <article class="main-card">
              <div class="main-card__badges">
                <span class="badge badge--green" style="display: none;">новинка</span>
                <span class="badge badge--red" style="display: none;">-50%</span>
                <span class="badge badge--orange">хит</span>
              </div>

              <button class="main-card__like like" type="button">
                <svg class="like__icon" width="32" height="29">
                  <use xlink:href="images/sprite.svg#icon-favorite"></use>
                </svg>

                <span class="sr-only">добавить товар в избранное</span>
              </button>

              <div class="main-card__image">
                <img class="main-card__img" width="298" height="215" alt="Питахайя" src="images/catalog/3.png">

                <a class="main-card__link" href="#"></a>
              </div>

              <div class="main-card__bottom">
                <h3 class="main-card__title">
                  Питахайя красная с белой мякотью, 1шт
                </h3>
              </div>

              <div class="main-card__price price">
                <span class="discount" style="display: none;"></span>
                <span class="cost">1019 <span>&#8381;</span></span>
              </div>

              <button class="main-card__cart btn" type="button">
                <span class="sr-only">добавить товар в корзину</span>
              </button>
            </article>
          </li>

          <li class="top-products__item mix category-d" data-order="4">
            <article class="main-card">
              <div class="main-card__badges">
                <span class="badge badge--green" style="display: none;">новинка</span>
                <span class="badge badge--red" style="display: none;">-50%</span>
                <span class="badge badge--orange" style="display: none;">хит</span>
              </div>

              <button class="main-card__like like" type="button">
                <svg class="like__icon" width="32" height="29">
                  <use xlink:href="images/sprite.svg#icon-favorite"></use>
                </svg>

                <span class="sr-only">добавить товар в избранное</span>
              </button>

              <div class="main-card__image">
                <img class="main-card__img" width="298" height="215" alt="Кетчуп" src="images/catalog/4.png">

                <a class="main-card__link" href="#"></a>
              </div>

              <div class="main-card__bottom">
                <h3 class="main-card__title">
                  Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
                </h3>
              </div>

              <div class="main-card__price price">
                <span class="discount" style="display: none;"></span>
                <span class="cost">600 <span>&#8381;</span></span>
              </div>

              <button class="main-card__cart btn" type="button">
                <span class="sr-only">добавить товар в корзину</span>
              </button>
            </article>
          </li>

          <li class="top-products__item mix category-b" data-order="2">
            <article class="main-card">
              <div class="main-card__badges">
                <span class="badge badge--green" style="display: none;">новинка</span>
                <span class="badge badge--red" style="display: none;">-50%</span>
                <span class="badge badge--orange">хит</span>
              </div>

              <button class="main-card__like like" type="button">
                <svg class="like__icon" width="32" height="29">
                  <use xlink:href="images/sprite.svg#icon-favorite"></use>
                </svg>

                <span class="sr-only">добавить товар в избранное</span>
              </button>

              <div class="main-card__image">
                <img class="main-card__img" width="298" height="215" alt="Морковь" src="images/catalog/5.png">

                <a class="main-card__link" href="#"></a>
              </div>

              <div class="main-card__bottom">
                <h3 class="main-card__title">
                  Морковь молодая с бабушкиной грядки, 1кг
                </h3>
              </div>

              <div class="main-card__price price">
                <span class="discount" style="display: none;"></span>
                <span class="cost">49<span>&#8381;</span></span>
              </div>

              <button class="main-card__cart btn" type="button">
                <span class="sr-only">добавить товар в корзину</span>
              </button>
            </article>
          </li>

          <li class="top-products__item mix category-c" data-order="3">
            <article class="main-card">
              <div class="main-card__badges">
                <span class="badge badge--green" style="display: none;">новинка</span>
                <span class="badge badge--red">-50%</span>
                <span class="badge badge--orange" style="display: none;">хит</span>
              </div>

              <button class="main-card__like like" type="button">
                <svg class="like__icon" width="32" height="29">
                  <use xlink:href="images/sprite.svg#icon-favorite"></use>
                </svg>

                <span class="sr-only">добавить товар в избранное</span>
              </button>

              <div class="main-card__image">
                <img class="main-card__img" width="298" height="215" alt="Напиток сокосодержащий"
                  src="images/catalog/6.png">

                <a class="main-card__link" href="#"></a>
              </div>

              <div class="main-card__bottom">
                <h3 class="main-card__title">
                  Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольный
                </h3>
              </div>

              <div class="main-card__price price">
                <span class="discount">299 <span>&#8381;</span></span>
                <span class="cost">199 <span>&#8381;</span></span>
              </div>

              <button class="main-card__cart btn" type="button">
                <span class="sr-only">добавить товар в корзину</span>
              </button>
            </article>
          </li>

          <li class="top-products__item mix category-d" data-order="4">
            <article class="main-card">
              <div class="main-card__badges">
                <span class="badge badge--green">новинка</span>
                <span class="badge badge--red" style="display: none;">-50%</span>
                <span class="badge badge--orange" style="display: none;">хит</span>
              </div>

              <button class="main-card__like like" type="button">
                <svg class="like__icon" width="32" height="29">
                  <use xlink:href="images/sprite.svg#icon-favorite"></use>
                </svg>

                <span class="sr-only">добавить товар в избранное</span>
              </button>

              <div class="main-card__image">
                <img class="main-card__img" width="298" height="215" alt="Кофе с коноплей" src="images/catalog/7.png">

                <a class="main-card__link" href="#"></a>
              </div>

              <div class="main-card__bottom">
                <h3 class="main-card__title">
                  Кофе с коноплей органический Caffé Salomoni 250г
                </h3>
              </div>

              <div class="main-card__price price">
                <span class="discount" style="display: none;"></span>
                <span class="cost">877 <span>&#8381;</span></span>
              </div>

              <button class="main-card__cart btn" type="button">
                <span class="sr-only">добавить товар в корзину</span>
              </button>
            </article>
          </li>

          <li class="top-products__item mix category-b" data-order="2">
            <article class="main-card">
              <div class="main-card__badges">
                <span class="badge badge--green">новинка</span>
                <span class="badge badge--red" style="display: none;">-50%</span>
                <span class="badge badge--orange" style="display: none;">хит</span>
              </div>

              <button class="main-card__like like" type="button">
                <svg class="like__icon" width="32" height="29">
                  <use xlink:href="images/sprite.svg#icon-favorite"></use>
                </svg>

                <span class="sr-only">добавить товар в избранное</span>
              </button>

              <div class="main-card__image">
                <img class="main-card__img" width="298" height="215" alt="Перец оранжевый" src="images/catalog/8.png">

                <a class="main-card__link" href="#"></a>
              </div>

              <div class="main-card__bottom">
                <h3 class="main-card__title">Перец оранжевый, 1кг</h3>
              </div>

              <div class="main-card__price price">
                <span class="discount" style="display: none;"></span>
                <span class="cost">349 <span>&#8381;</span></span>
              </div>

              <button class="main-card__cart btn" type="button">
                <span class="sr-only">добавить товар в корзину</span>
              </button>
            </article>
          </li>
        </ul>

        <button class="btn btn--white btn--center" type="button">Показать еще</button>
      </div>
    </section>