.product-slider {
  margin-bottom: 50px;

  &__title {
    margin-bottom: 60px;
    text-align: left;

    @include max-w($sm) {
      margin-bottom: 30px;
    }
  }

  .main-card {
    margin: auto;

    @include max-w($sm) {
      height: 344px;
    }
  }

  .slider-hero__arrows {
    border: 1px solid $silver-600;
  }

  .slider-hero__arrows--next {
    top: -83px;
    right: 0;
  }

  .slider-hero__arrows--prev {
    top: -83px;
    left: auto;
    right: 90px;
  }
}

.slick-slide {
  height: auto;
}

.slick-dots {
  position: absolute;
  left: 50%;
  bottom: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);

  & li:not(:last-child) {
    margin-right: 13px;
  }
}

.slick-dots button {
  width: 10px;
  height: 10px;
  padding: 0;
  font-size: 0;
  background-color: $white;
  border-radius: 50%;
  border: 1px solid $silver-600;
  outline: transparent;
  transition: background-color 0.5s;
}

  .slick-dots .slick-active button {
    background-color: $green-900;
  }